{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/navCss.css' %}">
</head>
<body>
<!-- Navbar -->
{% include 'Base_platform/navbar.html' %}
<!-- End Navbar-->
Welcome to the home page of the Educate Platform.<br><br>
Services we provide:-
<ul>
    <li><a href="{% url 'Eco_Info:Blogs' %}" style="text-decoration:none;">Blogs</a></li>
    <li><a href="{% url 'Eco_Info:Learn' %}" style="text-decoration:none;">Learn</a></li>
</ul>
<!-- FOOTER-->
{% include 'Base_platform/footer.html' %}
</body>
</html>