{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    
</head>
<body>
<!-- Navbar -->
{% include 'Eco_Store/navbar.html' %}
<!-- End Navbar-->
<div class="ultra-wrap">
This is a Cashbacks section.<br><br>
<p> Here you can earn cashbacks by the leafs and can get voucher of amazon,google gift card,..</p>
</div>
<!-- FOOTER-->
{% include 'Base_platform/footer.html' %}
</body>
</html>