{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    
</head>
<body>
<!-- Navbar -->
{% include 'Base_platform/navbar.html' %}
<!-- End Navbar-->
<div class="ntg" style="min-height:30vh;">This is Learn Page.</div><br>
Here you can find the video of our partners and NGO's about the climate-conservation and sustainable development
<!-- FOOTER-->
{% include 'Base_platform/footer.html' %}
</body>
</html>