{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reused | Eco In</title>
</head>
<body>
    {% include 'Eco_Store/navbar.html' %}
    This section of the Eco Store contains the Reused items<br>
    selled by user to a user.<br><br>
    We just provide a platform and a service option to them.
    {% include 'Base_platform/footer.html' %}
</body>
</html>